
<br>
<div class="text-center refresh-btn">
    <%= link_to("REFRESH", profiles_path, id: "refresh_button", class: "btn btn-success ourbtn", disabled: "disabled") %>
</div>


<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <% if user != current_user %>
        <div class="col-xs-6 col-sm-6 col-md-6">


          <%= link_to profile_path(user.id) do%>
            <div class="card">
              <% if user.photo %>

                <%= cl_image_tag user.photo, height: "300", width: "300", crop: :fill, gravity: :face, style: "width:100%; height: auto" %>
              <% end %>
              <div class="card-description">
                <div class="card-username">
                  <%= "#{user.username.upcase}, " %>
                </div>
                <div class="card-age">
                  <%= "#{Date.today.year - user.birthdate.year} yo" if user.birthdate %>
                </div>
              </div>
            </div>
          <% end %>


        </div>
      <% end %>
    <% end %>
  </div>
</div>
