<div class="profilecontainer">

<br>
  <div class="avatar text-center" >
    <%= image_tag @user.picture_url if @user.picture_url%>
    <%= cl_image_tag(@user.photo) %>
  </div>
</div>

<div class="info" style="font-size: 12px">
  <div class="username" >
    <span class="username-detail"><%="#{@user.username.upcase}" %></span>
    <%="#{Date.today.year - @user.birthdate.year} yo" if @user.birthdate %>
  </div>

  <div class= "bday" style="margin-bottom: -21px;">

    <% if params[:id].to_i == current_user.id %>
      <p>Born on <%= @user.birthdate %></p>
      <p><%= @user.email %></p>
    <% end %>
  </div>
</div>


<br>


<% if (@match_sent && @match_sent.photo.present?) || (@m && @m.photo.present?) %>


  <%= cl_image_tag @m.photo if @m%>
  <%= cl_image_tag @match_sent.photo if @match_sent%>
  <h3><%= @m.instructions if @m%></h3>
  <h3><%= @match_sent.instructions if @match_sent%></h3>



<% elsif @match_sent && @match_sent.status == 'accepted' %>


  <%= simple_form_for(@match_sent) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :instructions %>
    <%= f.hidden_field :from_user_number, value: params[:id] %>
    <%= f.submit %>
  <% end %>



<% elsif params[:id].to_i != current_user.id && @match_sent == nil && @m == nil %>

  <%= link_to matches_path(num: params[:id]), method: :post do %>
  <div class="center">
    <button type="button" class="btn btn-success, btn">Invite</button>
  </div>
  <% end %>



<% elsif params[:id].to_i == current_user.id %>



  <%= link_to destroy_user_session_path do %>

    <div class="center" style="text-align: center;">
      <button type="button" class="btn btn-danger" style="margin-bottom: 10px;">LOG OUT</button>
    </div>

  <% end %>

<% end %>



 <!--  color:#B3FF00 ;
  border-color: #B3FF00; -->
<br>


<div class="currentinterests" style="text-align: center; font-weight: bold;">
  <% if params[:id].to_i == current_user.id %>
    YOUR CURRENT INTERESTS
  <% else %>
    <%= "#{User.find(params[:id]).username.upcase}'S INTERESTS" %>
  <% end %>
</div>

<% if params[:id].to_i == current_user.id %>
  <div class="lookingfor" style="margin-left: 3vh; font-size: 12px">
    I'm looking for...
  </div>
<% end %>
<br>



<div class="interests" style="padding: 4px;">
    <% @user.valid_interest.each do |interest| %>

    <div class="interestbar">
      <p style="margin: 5px;">
      <%= Interest::QUESTIONS[interest.question_id][:display] %>
      </p>
    </div>

    <% end %>
</div>
