<div class="profilecontainer">
  <br>
  <br>

  <div class="avatar">
    <%= image_tag @user.picture_url if @user.picture_url%>
    <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill, gravity: :face %>
  </div>
</div>



<% if @m && @m.photo.present? %>


  <%= cl_image_tag @m.photo %>
  <h3><%= @m.instructions %></h3>



<% elsif @m && @m.status == 'accepted' %>


  <%= simple_form_for(@m) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :instructions %>
    <%= f.hidden_field :from_user_number, value: params[:id] %>
    <%= f.submit %>
  <% end %>



<% elsif params[:id].to_i != current_user.id && @match_sent == nil %>

  <%= link_to matches_path(num: params[:id]), method: :post do %>
  <div class="center">
    <button type="button" class="btn btn-success">Invite</button>
  </div>
  <% end %>



<% elsif params[:id].to_i == current_user.id %>



  <%= link_to destroy_user_session_path do %>
  <div class="center">
    <button type="button" class="btn btn-danger">Log Out</button>
  </div>
  <% end %>

<% end %>





<div class="info">
  <h2>
    Hi! I'm <%= @user.username %>
  </h2>

  <p>
    My birthdate: <%= @user.birthdate %>.
  </p>

  <p>
    My email: <%= @user.email %>
  </p>
</div>

<div class="interests">
  <ul>
    <% @user.valid_interest.each do |interest| %>
    <li>
      <%= Interest::QUESTIONS[interest.question_id][:display] %>
    </li>
    <% end %>
  </ul>
</div>

