<div class="profilecontainer">


  <div class="avatar text-center" >
    <%= image_tag @user.picture_url if @user.picture_url%>
    <%= cl_image_tag(@user.photo) %>
  </div>
</div>

<div class="info">
  <div class="username">
    <%= @user.username %>
  </div>

  <div class= "bday">
    <p>
    Born on <%= @user.birthdate %>.

    </p>

    <% if params[:id].to_i == current_user.id %>
      <p>
         <%= @user.email %>
      </p>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="currentinterests" style="text-align: center; font-weight: bold;">
YOUR CURRENT INTERESTS
</div>

<div class="lookingfor">
I'm looking for...
</div>


<div class="interests">
  <ul>
    <% @user.valid_interest.each do |interest| %>
    <li>
      <%= Interest::QUESTIONS[interest.question_id][:display] %>
    </li>
    <% end %>
  </ul>
</div>


<% if (@match_sent && @match_sent.photo.present?) || (@m && @m.photo.present?) %>


  <%= cl_image_tag @m.photo if @m%>
  <%= cl_image_tag @match_sent.photo if @match_sent%>
  <h3><%= @m.instructions if @m%></h3>
  <h3><%= @match_sent.instructions if @match_sent%></h3>



<% elsif @m && @m.status == 'accepted' %>


  <%= simple_form_for(@m) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :instructions %>
    <%= f.hidden_field :from_user_number, value: params[:id] %>
    <%= f.submit %>
  <% end %>



<% elsif params[:id].to_i != current_user.id && @match_sent == nil && @m == nil %>

  <%= link_to matches_path(num: params[:id]), method: :post do %>
  <div class="center">
    <button type="button" class="btn btn-success, btn">Invite</button>
  </div>
  <% end %>



<% elsif params[:id].to_i == current_user.id %>



  <%= link_to destroy_user_session_path do %>

    <div class="center">
      <button type="button" class="btn btn-danger">Log Out</button>
    </div>

  <% end %>

<% end %>




