<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :longitude, as: :hidden %>

    <%= f.input :username,
                required: true%>
    <%= f.input :birthdate,
                required: true,
                start_year: 1899%>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :photo, required: true %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", id: "button_signup_user", disabled: "disabled" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
