<div class="navbar-box">
  <div class="navbar-back-side-icon">
    <div class="navbar-element">
      <%= link_to matches_path do%>
      <i class="fas fa-history history <%= 'active-icon' if @match_icon %>" ></i>
      <% end %>
    </div>
  </div>

  <div class="navbar-back-main-icon">
      <%= link_to profiles_path do %>
      <%= image_tag "logo-closer.svg", class: "logo" %>
      <% end %>
  </div>

  <div class="navbar-back-side-icon">
    <div class="navbar-element">
      <%= link_to "/profiles/#{current_user.id}", class: "profile" do %>
      <i class="far fa-user user-bar <%= 'active-icon' if @profile_icon %>"></i>
      <% end %>
    </div>
  </div>

</div>
<div class="navbar-links">
    <p class=<%= 'active-icon' if @match_icon %>>MATCHES</p>
    <p>DISCOVER</p>
    <p class=<%= 'active-icon' if @profile_icon %>>PROFILE</p>
</div>
