<div>
  <div>
    <% if user_signed_in? %>
    <%= image_tag 'closer_thumb.jpg.png', class: "image" %>
    <% else %>
    <%= image_tag 'joesph-eliezer-happy-people.jpg', class: "image" %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>

<h2 class="text-center">Welcome</h2>
<p class="text-center"><%= current_user.username %></p>

<% else %>

<div class="center">
  <div>
    <h1>CLOSER</h1>
  </div>
</div>

<div class="center">
  <div>
    <p>reconnecting people</p>
  </div>
</div>


  <div class="center">
    <div>
      <%= link_to('Sign Up',new_user_registration_path,class:"btn btn-primary") %>
    </div>
    <div>
      <%= link_to('Log In',new_user_session_path,class:"btn btn-primary") %>
    </div>
  </div>

<% end %>
