<div class="banner" style="background-image: url('https://res.cloudinary.com/dn6bufmp3/image/upload/v1542118122/logo-closer-fine.svg');">
</div>

<div class="banner-title">
  <h1>CLOSER</h1>
  <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
</div>

<div class="banner-paragraph">

  <% if user_signed_in? %>
    <p>
      Hello <b><%= current_user.username %></b>
    </p>
  <% else %>
    <p>
      RE-CONNECTING PEOPLE
    </p>
  <% end %>
</div>

<!-- <div>
  <div>
    <% if user_signed_in? %>
    <%= image_tag 'closer_thumb.jpg.png', class: "image" %>
    <% else %>
    <%= image_tag 'joesph-eliezer-happy-people.jpg', class: "image" %>
    <% end %>
  </div>
</div> -->

<% unless user_signed_in? %>

<!-- <div class="center">
  <div>
    <h1>CLOSER</h1>
  </div>
</div> -->

<!-- <div class="center">
  <div>
    <p>reconnecting people</p>
  </div>
</div> -->


<div class="center">
  <div class="sign-btn">
    <%= link_to('SIGN UP',new_user_registration_path,class: "btn btn-primary") %>
  </div>
  <div class="log-btn">
    <%= link_to('LOG IN',new_user_session_path,class: "btn btn-primary") %>
  </div>
</div>

<% end %>
