<h2>Log in</h2>
<!--
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %> -->


<form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="URJlif/E3Noz+V9dNKA6m0M/iCyUdCKv/TBDZQu50QQdtgu82hAngNb3DmO1pLkJsBeDXRCJ8BKyFCJXRsk8nw==" />
  <div class="form-inputs">
    <div class="form-group email optional user_email"><label class="form-control-label email optional" for="user_email">Email</label><input class="form-control string email optional" autocomplete="email" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" /></div>
    <div class="form-group password optional user_password"><label class="form-control-label password optional" for="user_password">Password</label><input class="form-control password optional" autocomplete="current-password" type="password" name="user[password]" id="user_password" /></div>
    <fieldset class="form-group boolean optional user_remember_me"><div class="form-check"><input name="user[remember_me]" type="hidden" value="0" /><input class="form-check-input boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" /><label class="form-check-label boolean optional" for="user_remember_me">Remember me</label></div></fieldset>
  </div>

  <div class="form-actions">
    <input type="submit" name="commit" value="Log in" class="btn" data-disable-with="Log in" />
  </div>
</form>

<!-- <%= render "devise/shared/links" %> -->

  <a class="link" href="/users/sign_up">Sign up</a><br />

  <a class="link" href="/users/password/new">Forgot your password?</a><br />

<!--  <div class="container-form" style="    height: 100vh;
    background: white;">

   <h2>login</h2>
   <form>
     <input type="text" class="email" placeholder="email">
     <br/>
     <input type="text" class="pwd" placeholder="password">
   </form>
   <a href="#" class="link">
     forgot your password ?
   </a>
   <br/>
   <button class="register">
     <span>register</span>
   </button>
   <button class="signin">
     <span>sign in</span>
   </button>
   <h3>your registration is complete !    </h3>
   <h3>your sign in is complete !</h3>
   <div class="reg"></div>
   <div class="sig"></div>

 </div> -->

<!--  <style>


   h2{
     padding:40px;
     font-family: 'Barlow Condensed', sans-serif;
     font-weight: regular;
     text-transform:uppercase;
     color:#414141;
     text-align: center;
   }

   input{
     font-family: 'Barlow Condensed', sans-serif;
     display:block;
     height:50px;
     width:90%;
     margin:0 auto;
     border:none;
     &::placeholder{
       -webkit-transform:translateY(0px);
         transform:translateY(0px);
       -webkit-transition:.5s;
         transition:.5s;
     }
     &:hover,
     &:focus,
     &:active:focus{
       color:#ff5722;
       outline:none;
       border-bottom:1px solid #ff5722;
       &::placeholder{
         color:#ff5722;
         position:relative;
         -webkit-transform:translateY(-20px);
         transform:translateY(-20px);

       }
     }
   }



   .user_email,
   .user_pwd{
     position:relative;
     z-index:1;
     border-bottom:1px solid rgba(0,0,0,.1);
     padding-left:20px;
     font-family: 'Open Sans', sans-serif;
     text-transform:uppercase;
     color:#858585;
     font-weight:lighter;
     -webkit-transition:.5s;
     transition:.5s;
   }



   .link{
     text-decoration: none;
     display:inline-block;
     margin:27px 28%;
     text-transform:uppercase;
     color:#858585;
     font-weight:lighter;
     -webkit-transition:.5s;
     transition:.5s;
   }



   .btn{
     cursor:pointer;
     display:inline-block;
     float:left;
     width:250px;
     height:60px;
     margin-top:-10px;
     border:none;
     font-family: 'Open Sans', sans-serif;
     text-transform:uppercase;
     color:#fff;
     -webkit-transition:.5s;
     transition:.5s;
     &:nth-of-type(1){
       background:#673ab7;
     }
     &:nth-of-type(2){
       background:#ff5722;
     }
     span{
       position:absolute;
       display:block;
       margin:-10px 20%;
       -webkit-transform:translateX(0);
       transform:translateX(0);
       -webkit-transition:.5s;
       transition:.5s;
     }
     &:hover{
       span{
         -webkit-transform:translateX(30px);
         transform:translateX(30px);
         }
      }
   }

   .reg{
       position:absolute;
       top:0;
       left:0;
       -webkit-transform:translateY(-100%) scale(1);
       transform:translateY(-100%) scale(1);
       display:block;
       width:20px;
       height:20px;
       border-radius:50px;
       background:#673ab7;
       z-index:5;
       -webkit-transition:.8s ease-in-out;
       transition:.8s ease-in-out;
     }



   .sig{
      position:absolute;
      top:0;
      right:0;
      -webkit-transform:translateY(-100%) scale(1);
      transform:translateY(-100%) scale(1);
      display:block;
      width:20px;
      height:20px;
      display:block;
      background:#ff5722;
      z-index:5;
      -webkit-transition:.8s ease-in-out;
       transition:.8s ease-in-out;
   }

   h3{
     position:absolute;
     top:-100%;
     left:20%;
     text-transform:uppercase;
     font-weight:bolder;
     color:rgba(255,255,255,.3);
     -webkit-transition:.3s ease-in-out 1.2s;
     transition:.3s ease-in-out 1.2s;
   }


 </style> -->

