<h1 class="text-center">MATCHES</h1>

<%# if !@matches_to_logged.empty? %>
<!-- <h1 class="text-center">REQUESTS</h1>
 --><%# end %>
 <%#= raise %>
<% @matches_to_logged.where(status: "accepted").each do |lol| %>

<div class="match-container">
  <div class="left-image">
    <%= cl_image_tag lol.from_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
  </div>
  <div class="right-content">
    <%= link_to profile_path(lol.from_user.id), class: "username-right-content" do%>
    <%= lol.from_user.username %>
    <div class="btn-send-instructions">SEND INSTRUCTIONS</div>
    <% end %>
  </div>
</div>
<% end %>

<h1 class="text-center">REQUESTS</h1>


<% @matches_to_logged.where(status: "pending").each do |lol| %>

<div class="match-container">
  <div class="left-image">
    <%= cl_image_tag lol.from_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
  </div>
  <div class="right-content-pending">
    <a href="<%= profile_path(lol.from_user.id) %>" class="username-right-content"><%= lol.from_user.username %></a>

    <%= link_to match_path(match: {from_user_number: lol.from_user.id }, status: "accepted", id: lol.from_user.id), method: :patch do %>
      <div class="btn-send-instructions accept">ACCEPT</div>
    <% end %>

    <%= link_to match_path(match: {from_user_number: lol.from_user.id }, status: "declined", id: lol.from_user.id), method: :patch do %>
      <div class="btn-send-instructions decline">DECLINE</div>
    <% end %>
 </div>
  </div>
<% end %>

<% if !@matches_from_logged.empty? %>
  <h1 class="text-center">SENT INVITATIONS</h1>
<% end %>

<% @matches_from_logged.each do |lol| %>

  <% if lol.status == "accepted" && lol.photo.present? %>

    <div class="center">
      <a href="<%= profile_path(lol.to_user.id) %>" ><%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face %>
      <%= cl_image_tag lol.photo, height: 250, width: 250, crop: :fill, gravity: :face %>
        <p><%= lol.to_user.username %></p>
      </a>
    </div>
  <% elsif lol.status == "accepted" %>

  <div class="center">
    <a href="<%= profile_path(lol.to_user.id) %>" ><%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face %>
    <%= image_tag 'WAIT-Sign.jpg', style: 'height: 250px; width: 250px' %>
      <p><%= lol.to_user.username %></p>
    </a>
  </div>

  <% elsif lol.status == "pending" %>

    <div class="center">
      <a href="<%= profile_path(lol.to_user.id) %>" ><%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face %>
      <%= lol.to_user.username %></a>
    </div>
  <% end %>
<% end %>






