  <h1 class="text-center">MATCHES</h1>
  <br>


<% if !@matches_to_logged.empty? %>
<h1>Requests</h1>
<% end %>

<% @matches_to_logged.each do |lol| %>
  <%= cl_image_tag lol.from_user.photo%>
  <a href="<%= profile_path(lol.from_user.id) %>" ><%= lol.from_user.username %></a>


  <div class="center">
  <% if lol.status == "pending" %>
  <%= link_to match_path(match: {from_user_number: lol.from_user.id }, status: "accepted", id: lol.from_user.id), method: :patch do %>
    <div class="center">
      <button type="button" class="btn btn-success">Accept</button>
    </div>
  <% end %>
  <%= link_to match_path(match: {from_user_number: lol.from_user.id }, status: "declined", id: lol.from_user.id), method: :patch do %>
    <div class="center">
      <button type="button" class="btn btn-success">Decline</button>
    </div>
  <% end %>
  <% end %>
 </div>


<% end %>


<% if !@matches_from_logged.empty? %>
<h1>Matches_pending</h1>
<% end %>

          <% @matches_from_logged.each do |lol| %>
          <div class="center">
        <a href="<%= profile_path(lol.to_user.id) %>" ><%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face %>
</div>
 <%= lol.to_user.username %></a>
          <% end %>






