<h3 class="text-center">MATCHES</h3>

<%# if !@matches_to_logged.empty? %>
<!-- <h1 class="text-center">REQUESTS</h1>
 --><%# end %>
 <%#= raise %>
<% @matches_to_logged.each do |lol| %>

  <% if lol.status == 'accepted' && !lol.photo.present? %>

    <div class="match-container">
      <div class="left-image">
        <%= cl_image_tag lol.from_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
      </div>
      <div class="right-content">
        <%= link_to profile_path(lol.from_user.id), class: "username-right-content" do%>
      <strong><%= lol.from_user.username %></strong>


        <% end %>
        <%="#{Date.today.year - lol.from_user.birthdate.year} yo" if lol.from_user.birthdate %>
        <div class="btn-send-instructions">WAIT FOR INSTRUCTIONS</div>
      </div>
    </div>

  <% elsif lol.status == 'accepted' && lol.photo.present? %>

    <div class="match-container">
      <div class="left-image">
        <%= cl_image_tag lol.from_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
      </div>
      <div class="right-content">
        <%= link_to profile_path(lol.from_user.id), class: "username-right-content" do%>

      <strong><%= lol.from_user.username %></strong>

        <div class="btn-send-instructions">GO TO INSTRUCTIONS</div>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>

<h3 class="text-center">REQUESTS</h3>


<% @matches_to_logged.where(status: "pending").each do |lol| %>

<div class="match-container">
  <div class="left-image">
    <%= cl_image_tag lol.from_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
  </div>
  <div class="right-content-pending">
    <a href="<%= profile_path(lol.from_user.id) %>" class="username-right-content">

      <strong><%= lol.from_user.username %></strong>

      </a>
      <%="#{Date.today.year - lol.from_user.birthdate.year} yo" if lol.from_user.birthdate %>
    <%= link_to match_path(match: {from_user_number: lol.from_user.id }, status: "accepted", id: lol.from_user.id), method: :patch do %>
      <div class="btn-send-instructions accept">ACCEPT</div>
    <% end %>

    <%= link_to match_path(match: {from_user_number: lol.from_user.id }, status: "declined", id: lol.from_user.id), method: :patch do %>
      <div class="btn-send-instructions decline">DECLINE</div>
    <% end %>
 </div>
  </div>
<% end %>

<% if !@matches_from_logged.empty? %>
  <h3 class="text-center">SENT INVITATIONS</h3>
<% end %>

<% @matches_from_logged.each do |lol| %>

  <% if lol.status == "accepted" && lol.photo.present? %>

        <div class="match-container">
      <div class="left-image">
      <%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
      </div>
      <div class="right-content">
      <%= link_to profile_path(lol.to_user.id), class: "username-right-content" do%>

      <strong><%= lol.to_user.username %></strong>


              <%="#{Date.today.year - lol.from_user.birthdate.year} yo" if lol.from_user.birthdate %>
      <div class="btn-send-instructions">MATCHED</div>
      <% end %>
      </div>
    </div>

  <% elsif lol.status == "accepted" %>

        <div class="match-container">
      <div class="left-image">
      <%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
      </div>
      <div class="right-content">
      <%= link_to profile_path(lol.to_user.id), class: "username-right-content" do%>

            <strong><%= lol.to_user.username %></strong>

              <%="#{Date.today.year - lol.from_user.birthdate.year} yo" if lol.from_user.birthdate %>
      <div class="btn-send-instructions">SEND INSTRUCTION</div>
      <% end %>
      </div>
    </div>

  <% elsif lol.status == "pending" %>

        <div class="match-container">
      <div class="left-image">
      <%= cl_image_tag lol.to_user.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: "image-accepted-match" %>
      </div>
      <div class="right-content">
      <%= link_to profile_path(lol.to_user.id), class: "username-right-content" do%>

                  <strong><%= lol.to_user.username %></strong>


              <%="#{Date.today.year - lol.from_user.birthdate.year} yo" if lol.from_user.birthdate %>
      <div class="btn-send-instructions">REQUEST SENT</div>
      <% end %>
      </div>
    </div>

  <% end %>
<% end %>






